<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" href="./css/bootstrap.min.css"> -->
   <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
rel="stylesheet"
/>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Navbar</a>
          <form class="d-flex input-group w-auto">
            <input
              type="search"
              class="form-control rounded"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
            />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </form>
        </div>
      </nav>
      <hr>
		
     
      <div class="container">
     
      <a type="Button" class="btn btn-primary" th:href="@{/items/createNew}" >Create New Article</a>
     
      <hr>
      <table class="table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"​ >title</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:object="${item}" th:each="item:${listItem}">
            <th scope="row" th:text="${item.getId()}" ></th>
            <td th:text="${item.getTitle()}" ></td>
            <td th:text="${item.getDescription()}"></td>
            <td><img src="/images/no-image-icon-13.png" alt="" width=130px height=100px></td>
            <td>
            
             
              <a th:href="@{/items/view/{id}(id=${item.getId()})}" type="Button"  class="btn btn-outline-primary" data-mdb-ripple-color="dark" >
               view
              </a>
              
              <button  class="btn btn-outline-secondary" data-mdb-ripple-color="dark" >
                Edit
              </button>
              <a type="Button" th:href="@{/items/delete/{id}(id=${item.getId()})}" class="btn btn-outline-danger"  data-mdb-ripple-color="dark" >
               Delete
              </a>
            </td>
          </tr>
          
          
	</tr>
          
          
          
        </tbody>
      </table>

</div>





    <!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"
></script>
<!-- <script src="./js/bootstrap.bundle.min.js"></script> -->
</body>
</html>